apiVersion: v2
description: Helm Chart for godon optimizer stack
name: godon
version: 0.2.12
appVersion: 0.0.6
home: https://github.com/cherusk/godon-charts/godon
maintainers:
  - name: cherusk
    url: https://github.com/cherusk
sources:
  - https://github.com/cherusk/godon-charts/tree/main/optuna
keywords:
  - performance
  - optimization
  - metaheuristic-algorithms
  - configurator
  - operations
  - continuous-optimization
  - heterogenous-computing
  - cloud-operations
  - tuning
  - configurator
  - cooperative-metaheuristics
dependencies:
  - name: windmill
    version: 4.0.61
    repository: https://windmill-labs.github.io/windmill-helm-charts
    alias: windmill
  - name: postgresql
    version: 13.2.27
    repository: https://charts.bitnami.com/bitnami
    alias: metadata-db
  - name: yugabyte
    version: 2.19.3
    repository: https://charts.yugabyte.com
    alias: archive-db
    condition: archive-db.enabled
  - name: prometheus-pushgateway
    version: 2.14.0
    repository: https://prometheus-community.github.io/helm-charts
    condition: pushgateway.enabled
