---

########################################
## CONFIG | Global Variables
########################################
#  global:
#    PROMETHEUS_URL: http//prometheus9090


########################################
## Network | Godon DNS Domain
########################################
domainName: "cluster.local"

########################################
## Component | Godon Seeder Job
########################################
godon_seeder:
  image: ghcr.io/godon-dev/godon-seeder:0.0.7
  env:
  - name: GODON_VERSION
    value: "0.0.6"

########################################
## Component | Windmill Workflow Orchestration Engine
########################################
windmill:
  windmill:
    appReplicas: 1
    lspReplicas: 0
    workerGroups:
      - name: "default"
        replicas: 1
        extraEnv:
        - name: WHITELIST_ENVS
          value: "GODON_LOCKING_DB_SERVICE_PORT,GODON_API_SERVICE_PORT,GODON_METADATA_DB_SERVICE_PORT,YB_TSERVER_SERVICE_SERVICE_PORT,GODON_LOCKING_DB_SERVICE_HOST,GODON_API_SERVICE_HOST,GODON_METADATA_DB_SERVICE_HOST,YB_TSERVER_SERVICE_SERVICE_HOST,YB_TSERVER_SERVICE_SERVICE_PORT_TCP_YSQL_PORT"

########################################
## Component | Godon Metrics Exporter
########################################
metrics_exporter:
  image:
    repository: "ghcr.io/godon-dev/godon-metrics-exporter"
    tag: "0.0.1"
    pullPolicy: IfNotPresent
    pullSecret: ""

  replicas: 1

  port: 9099

  env: []

  livenessProbe:
    enabled: false

  annotations: {}

  podLabels: {}

  serviceAccountName: ""

  volumes: []

  volumeMounts: []

########################################
## Component | Godon API
########################################
api:
  image:
    repository: "ghcr.io/godon-dev/godon-api"
    tag: "0.0.11"
    pullPolicy: IfNotPresent
    pullSecret: ""

  replicas: 1

  port: 9090

  env: []

  livenessProbe:
    enabled: false

  annotations: {}

  podLabels: {}

  serviceAccountName: ""

  volumes: []

  volumeMounts: []

## Component | Postgres Based Distributed Locking Database
########################################
locking-db:
  image:
    repository: "postgres"
    tag: 13
    pullPolicy: IfNotPresent
  auth:
    username: locking
    password: locking
    database: distributed_locking

########################################
## Component | Postgres Database Storing Godon Components Meta Data
########################################
metadata-db:
  image:
    repository: "postgres"
    tag: 13
    pullPolicy: IfNotPresent
  auth:
    username: meta_data
    password: meta_data
    database: meta_data

########################################
## Component | Knowledge Archive Database for Cooperating Config Breeders
########################################
archive-db:

  enabled: true

  image:
    repository: "docker.io/yugabytedb/yugabyte"
    tag: 2.18.1.0-b84
    pullPolicy: IfNotPresent

  replicas:
    master: 1
    tserver: 1

  storage:
    ephemeral: false
    master:
      count: 1
      size: 1Gi
      storageClass: ""
    tserver:
      count: 1
      size: 1Gi
      storageClass: ""

  resource:
    master:
      requests:
        cpu: "0.2"
        memory: 200Mi
      limits:
        cpu: "0.5"
        memory: 500Mi
    tserver:
      requests:
        cpu: "0.2"
        memory: 200Mi
      limits:
        cpu: "0.5"
        memory: 500Mi

  master:
    extraEnv:
      - name: YSQL_DB
        value: archive_db

  authCredentials:
    ysql:
      user: yugabyte
      password: yugabyte
      database: archive_db

  dnsPolicy: ClusterFirst

