---

########################################
## Component | Godon Seeder Job
########################################
godon_seeder:
  image:
    tag: "0.0.15"
  env:
  - name: CONTROLLER_VERSION
    value: "0.1.0"
  - name: BREEDER_VERSION
    value: "0.1.0"
  - name: WINDMILL_BASE_URL
    value: "http://windmill-app.godon.svc.cluster.local:8000"

########################################
## Component | Windmill Workflow Orchestration Engine
########################################
windmill:
  windmill:
    lspReplicas: 0
    workerGroups:
      - name: "default"
        extraEnv:
        - name: WHITELIST_ENVS
          value: "GODON_API_SERVICE_PORT,GODON_METADATA_DB_SERVICE_PORT,YB_TSERVER_SERVICE_SERVICE_PORT,GODON_API_SERVICE_HOST,GODON_METADATA_DB_SERVICE_HOST,YB_TSERVER_SERVICE_SERVICE_HOST,YB_TSERVER_SERVICE_SERVICE_PORT_TCP_YSQL_PORT"
  postgresql:
    image:
      repository: postgres
      tag: "14"

########################################
## Component | Godon API
########################################
api:
  image:
    repository: "ghcr.io/godon-dev/godon-api"
    tag: "0.0.10"
  env:
  - name: WINDMILL_BASE_URL
    value: "http://windmill:80"
  - name: WINDMILL_API_BASE_URL
    value: "http://windmill:80"

########################################
## Component | Knowledge Archive Database for Cooperating Config Breeders
########################################
archive-db:
  enabled: true
