---

########################################
## CONFIG | Global Variables
########################################
#  global:
#    PROMETHEUS_URL: http//prometheus9090

########################################
## Network | Kubernetes Cluster Domain
########################################
clusterDomain: cluster.local

########################################
## Network | Godon DNS Domain
########################################
domainName: "cluster.local"

########################################
## Component | Godon Seeder Job
########################################
godon_seeder:
  enabled: true
  image:
    repository: ghcr.io/godon-dev/godon-seeder
    tag: 0.0.16
    pullPolicy: IfNotPresent
    pullSecret: ""
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  serviceAccountName: ""
  env:
  - name: WINDMILL_BASE_URL
    value: "http://windmill-app.godon.svc.cluster.local:8000/api"
  - name: CONTROLLER_VERSION
    value: "0.3.0"
  - name: BREEDER_VERSION
    value: "0.7.0"

########################################
## Component | Windmill Workflow Orchestration Engine
########################################
windmill:
  windmill:
    appReplicas: 1
    lspReplicas: 1
    workerGroups:
      - name: "default"
        replicas: 1

########################################
## Component | Godon Metrics Exporter
########################################
metrics_exporter:
  image:
    repository: "ghcr.io/godon-dev/godon-metrics-exporter"
    tag: "0.0.2"
    pullPolicy: IfNotPresent
    pullSecret: ""

  replicas: 1

  port: 9099

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  env:
  - name: ARCHIVE_DB_HOST
    value: "yb-tservers.archive-db.svc.cluster.local:5433"
  - name: ARCHIVE_DB_USER
    value: "yugabyte"
  - name: ARCHIVE_DB_PW
    value: "yugabyte"
  - name: ARCHIVE_DB_DATABASE_NAME
    value: "archive_db"

  livenessProbe:
    enabled: false

  podDisruptionBudget:
    enabled: false
    minAvailable: 1

  annotations: {}

  podLabels: {}

  serviceAccountName: ""

  volumes: []

  volumeMounts: []

########################################
## Component | Godon API
########################################
api:
  image:
    repository: "ghcr.io/godon-dev/godon-api"
    tag: "0.0.10"
    pullPolicy: IfNotPresent
    pullSecret: ""

  replicas: 1

  port: 9090

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  env:
  - name: WINDMILL_BASE_URL
    value: "http://windmill-app.godon.svc.cluster.local:8000"

  livenessProbe:
    enabled: false

  podDisruptionBudget:
    enabled: false
    minAvailable: 1

  annotations: {}

  podLabels: {}

  serviceAccountName: ""

  volumes: []

  volumeMounts: []

########################################
## Component | Postgres Database Storing Godon Components Meta Data
########################################
metadata-db:
  image:
    repository: "postgres"
    tag: 13
    pullPolicy: IfNotPresent
  auth:
    username: meta_data
    password: meta_data
    database: meta_data

########################################
## Component | Knowledge Archive Database for Cooperating Config Breeders
########################################
archive-db:

  enabled: false

  image:
    repository: "docker.io/yugabytedb/yugabyte"
    tag: 2.18.1.0-b84
    pullPolicy: IfNotPresent

  replicas:
    master: 1
    tserver: 1

  storage:
    ephemeral: false
    master:
      count: 1
      size: 1Gi
      storageClass: ""
    tserver:
      count: 1
      size: 1Gi
      storageClass: ""

  resource:
    master:
      requests:
        cpu: "0.2"
        memory: 200Mi
      limits:
        cpu: "0.5"
        memory: 500Mi
    tserver:
      requests:
        cpu: "0.2"
        memory: 200Mi
      limits:
        cpu: "0.5"
        memory: 500Mi

  master:
    extraEnv:
      - name: YSQL_DB
        value: archive_db

  authCredentials:
    ysql:
      user: yugabyte
      password: yugabyte
      database: archive_db

  dnsPolicy: ClusterFirst
