---

########################################
## CONFIG | Global Variables
########################################
#  global:
#    PROMETHEUS_URL: http//prometheus9090

########################################
## Network | Kubernetes Cluster Domain
########################################
clusterDomain: cluster.local

########################################
## Network | Godon DNS Domain
########################################
domainName: "cluster.local"

########################################
## Component | Godon Seeder Job
########################################
godon_seeder:
  enabled: true
  image:
    repository: ghcr.io/godon-dev/godon-seeder
    tag: 0.0.18
    pullPolicy: IfNotPresent
    pullSecret: ""
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  serviceAccountName: ""
  env:
  - name: WINDMILL_BASE_URL
    value: "http://windmill-app.godon.svc.cluster.local:8000/api"
  - name: CONTROLLER_VERSION
    value: "0.18.0"
  - name: BREEDER_VERSION
    value: "0.13.0"

########################################
## Component | Windmill Workflow Orchestration Engine
########################################
windmill:
  windmill:
    appReplicas: 1
    lspReplicas: 1
    workerGroups:
      - name: "default"
        replicas: 1
        extraEnv:
        - name: GODON_ARCHIVE_DB_SERVICE_HOST
          value: "yb-tservers.godon.svc.cluster.local"
        - name: GODON_ARCHIVE_DB_SERVICE_PORT
          value: "5433"
        - name: GODON_ARCHIVE_DB_USER
          value: "yugabyte"
        - name: GODON_ARCHIVE_DB_PASSWORD
          value: "yugabyte"
        - name: WHITELIST_ENVS
          value: "GODON_API_SERVICE_PORT,GODON_METADATA_DB_SERVICE_PORT,YB_TSERVER_SERVICE_SERVICE_PORT,GODON_API_SERVICE_HOST,GODON_METADATA_DB_SERVICE_HOST,YB_TSERVER_SERVICE_SERVICE_HOST,YB_TSERVER_SERVICE_SERVICE_PORT_TCP_YSQL_PORT,GODON_ARCHIVE_DB_SERVICE_HOST,GODON_ARCHIVE_DB_SERVICE_PORT,GODON_ARCHIVE_DB_USER,GODON_ARCHIVE_DB_PASSWORD"

########################################
## Component | Godon Metrics Exporter
########################################
metrics_exporter:
  image:
    repository: "ghcr.io/godon-dev/godon-metrics-exporter"
    tag: "0.0.3"
    pullPolicy: IfNotPresent
    pullSecret: ""

  replicas: 1

  port: 9099

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  env:
  - name: PUSH_GATEWAY_URL
    value: "http://godon-pushgateway:9091"
  - name: PUSH_METRICS_ENABLED
    value: "true"

  livenessProbe:
    enabled: false

  podDisruptionBudget:
    enabled: false
    minAvailable: 1

  annotations: {}

  podLabels: {}

  serviceAccountName: ""

  volumes: []

  volumeMounts: []

########################################
## Component | Prometheus Push Gateway
########################################
pushgateway:
  enabled: true

  image:
    repository: prom/pushgateway
    tag: v1.9.0
    pullPolicy: IfNotPresent

  replicas: 1

  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 256Mi

  service:
    type: ClusterIP
    port: 9091

  persistence:
    enabled: false
    size: 2Gi
    storageClass: ""

  # Optional service account
  serviceAccount:
    create: false

  # Pod disruption budget
  podDisruptionBudget:
    enabled: false
    minAvailable: 1

########################################
## Component | Godon API
########################################
api:
  image:
    repository: "ghcr.io/godon-dev/godon-api"
    tag: "0.0.17"
    pullPolicy: IfNotPresent
    pullSecret: ""

  replicas: 1

  port: 9090

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  env:
  - name: WINDMILL_BASE_URL
    value: "http://windmill-app.godon.svc.cluster.local:8000/api"

  livenessProbe:
    enabled: false

  podDisruptionBudget:
    enabled: false
    minAvailable: 1

  annotations: {}

  podLabels: {}

  serviceAccountName: ""

  volumes: []

  volumeMounts: []

########################################
## Component | Postgres Database Storing Godon Components Meta Data
########################################
metadata-db:
  image:
    repository: "postgres"
    tag: 13
    pullPolicy: IfNotPresent
  auth:
    username: meta_data
    password: meta_data
    database: meta_data

########################################
## Component | Knowledge Archive Database for Cooperating Config Breeders
########################################
archive-db:

  enabled: false

  image:
    repository: "docker.io/yugabytedb/yugabyte"
    tag: 2.18.1.0-b84
    pullPolicy: IfNotPresent

  replicas:
    master: 1
    tserver: 1

  storage:
    ephemeral: false
    master:
      count: 1
      size: 1Gi
      storageClass: ""
    tserver:
      count: 1
      size: 1Gi
      storageClass: ""

  resource:
    master:
      requests:
        cpu: "0.2"
        memory: 200Mi
      limits:
        cpu: "0.5"
        memory: 500Mi
    tserver:
      requests:
        cpu: "0.2"
        memory: 200Mi
      limits:
        cpu: "0.5"
        memory: 500Mi

  master:
    extraEnv:
      - name: YSQL_DB
        value: archive_db
      - name: PUSH_GATEWAY_URL
        value: "http://godon-pushgateway:9091"
      - name: PUSH_METRICS_ENABLED
        value: "true"

  authCredentials:
    ysql:
      user: yugabyte
      password: yugabyte
      database: archive_db

  dnsPolicy: ClusterFirst
