apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "godon.fullname" . }}-api
  {{- if .Values.api.annotations }}
  annotations:
    {{- toYaml .Values.api.annotations | nindent 4 }}
  {{- end }}
  labels:
    component: api
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    {{- if .Values.api.labels }}
    {{- toYaml .Values.api.labels | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.api.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      ## multiple api instances can run concurrently
      maxSurge: 25%
      maxUnavailable: 0
  selector:
    matchLabels:
      component: api
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        component: api
        release: {{ .Release.Name }}
        {{- if .Values.api.podLabels }}
        {{- toYaml .Values.api.podLabels | nindent 8 }}
        {{- end }}
    spec:
      restartPolicy: Always
      {{- if .Values.api.image.pullSecret }}
      imagePullSecrets:
        - name: {{ .Values.api.image.pullSecret }}
      {{- end }}
      serviceAccountName: {{ .Values.api.serviceAccountName | default "" }}
      containers:
        - name: godon-api
          {{- include "api.image" . | indent 10 }}
          resources:
            {{- toYaml .Values.api.resources | nindent 12 }}
          env:
            {{- toYaml .Values.api.env | nindent 12 }}
          {{- if .Values.api.livenessProbe.enabled }}
          livenessProbe:
            initialDelaySeconds: {{ .Values.api.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.api.livenessProbe.periodSeconds }}
            failureThreshold: {{ .Values.api.livenessProbe.failureThreshold }}
            timeoutSeconds: {{ .Values.api.livenessProbe.timeoutSeconds }}
          {{- end }}
          volumeMounts:
            {{- toYaml .Values.api.volumeMounts | nindent 12 }}
          volumes:
            {{- toYaml .Values.api.volumes | nindent 12 }}
          ports:
            - containerPort: 8080
